<template>
  <div id="app">
    <SideBar isActive="index"/>
    <NavBar />
    <div class="main">
      <div class="container pt-4">
        <h6 class="text-muted"></h6>
        <div class="row mt-5">
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Borrowed and returned books</h6>
            <canvas id="barChart" ref="barChart" width="280" height="200"></canvas>
          </div>
          <div class="col-10 col-sm-10 col-md-6 col-lg-6 pb-3">
            <h6 class="text-muted">Popular book genre</h6>
            <canvas id="pieChart" width="280" height="200"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideBar from "../../navigation/SideBar";
import NavBar from "../../navigation/NavBar";
import Chart from 'chart.js';
export default {
  components: { SideBar, NavBar },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["JAN", "FEB", "MARCH", "APRIL", "MAY", "JUNE"],
          datasets: [
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(5, 42, 189, .8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(99, 146, 196, .8)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [10, 20, 30, 20],
              backgroundColor: [
                "rgb(63, 160, 56)",
                "rgba(248, 168, 3, .8)",
                "rgba(239, 23, 23,.8)",
                "rgba(38, 36, 174, .8)",
              ],
            },
          ],

          labels: ["Novel", "Biography","Fiction", "Horror"],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    });
  },
};
</script>

