<template>
  <div class="sidenav" id="app">
  <p class="ml-6 option" href="">LIBRARY SYSTEM</p>
  <router-link to="/">
    <a href="index.html" class="">
      <div class="element-container" :class="isActive == 'index' ? 'active': ''">
        <div class="element">
          <img src="../../assets/images/dashboard.jpg" height="25" class="ml-4 mt-1 position-absolute">
          <p class="ml-6 mt-1 option" href="">Dashboard</p>
        </div>
      </div>
    </a>
    </router-link>
    <router-link
    to="/patron"
     :class="isActive == 'patron' ? 'active-management': ''">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/patron.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Patron Management</p>
        </div>
      </div>
    </router-link>
    <router-link
    to="/books"
    :class="isActive == 'books' ? 'active-management': ''"
    >
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/books.png" height="25" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 option" href="">Books Management</p>
        </div>
      </div>
    </router-link>
     <router-link to="/settings" :class="isActive == 'settings' ? 'active': ''">
      <div class="element-container">
        <div class="element">
          <img src="../../assets/images/settings.png" height="20" class="ml-4 mt-2 position-absolute">
          <p class="ml-6 mt-2 option" href="">Settings</p>
        </div>
      </div>
    </router-link>
  </div>
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>